// colours
$light-gray: #fcf9f9;
$grid-border: #a2a2a2;

$hidden-cell-background: #cbcbcb;
$clear-cell-background: rgb(235, 235, 235);
$mine-cell-background: red;

$count-cell-one-foreground: blue;
$count-cell-two-foreground: green;
$count-cell-three-foreground: red;
$count-cell-four-foreground: darkblue;
$count-cell-five-foreground: purple;

// sizes
$cell-size: 24px;